body {
    font-family: "Nobile";
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: gray;
    border: dashed;
    padding-top:10px;
}

h1 {
    font-family: "Raleway";
    font-size: 37px;
    text-align: center;
    color: black;
}

.koda {
}

.rock {
padding: 5px;
float:left;
width: 150;
color: white;
min-height: 150;
max-height: 150;
max-width: 150;
border-radius: 30px;
border: dashed black;
margin: 10px;
margin-left: 100px;
background-color: #ACD1E9;

}

.rockgraphics {
   float:left;
   display:block;
      min-width: 120px;
   min-height: 125px;
   max-width: 120px;
   max-height: 125px;
   background-color: white;
   -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
}


.lizard {
    padding: 5px;
float:left;
width: 150;
color: white;
min-height: 150;
max-height: 150;
max-width: 200;
border-radius: 30px;
border: dashed black;
margin: 10px;
margin-left: 100px;
background-color: #ACD1E9;
}

.paper {
    padding: 5px;
float:left;
width:150;
color: white;
min-height: 150;
max-height: 150;
max-width: 200;
border-radius: 30px;
border: dashed black;
margin: 10px;
margin-left: 100px;
background-color: #ACD1E9;
}

.scissors {
    padding: 5px;
float: left;
width: 150;
color: white;
min-height: 150;
max-height: 150;
max-width: 200;
border-radius: 30px;
border: dashed black;
margin: 10px;
margin-left: 100px;
background-color: #ACD1E9;
}

.spock {
    padding: 5px;
float: left;
width: 150;
color: white;
min-height: 150;
max-height: 150;
max-width: 200;
border-radius: 30px;
border: dashed black;
margin: 10px;
margin-left: 100px;
background-color: #ACD1E9;
}

.cool {
    padding: 5px;
float: left;
width: 150;
color: white;
min-height: 150;
max-height: 150;
max-width: 200;
border-radius: 30px;
border: dashed black;
margin: 10px;
margin-left: 100px;
background-color: pink;
}
