html {
  background: url(img/sarcasmgausian.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    font-family: "Raleway";
    font-size: 17px;
    text-align: center;
    color: white;
    padding-top:10px;
}

h1 {
    font-family: "Raleway";
    font-size: 37px;
    text-align: center;
    color: white;
}

.koda {

    height: 70px;
    width:50%;
    margin-left: 300px;
    background: transparent;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    font-family: "Raleway";
    font-size: 18px;
    border-radius: 30px;
/*
background: rgb(0, 0, 0);
background: rgba(0, 0, 0, 0.6);
}
*/
}


.rock {

padding: 5px;
float:left;
width: 150;
color: white;
min-height: 150;
max-height: 150;
max-width: 150;
border-radius: 30px;
margin: 40px;
background-color: #212121;
visibility: hidden;


}

.rockgraphics {
    margin-left: 25px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-width: 0 25px 25px 25px;
    height: 0;
    width: 50px;
    position: absolute;
    margin: 20px 0 50px 25;
}
.rockgraphics:after {

    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 70px 50px 0 50px;
}


.lizard {
    padding: 5px;
float:left;
width: 150;
color: white;
min-height: 150px;
max-height: 150;
max-width: 150;
border-radius: 30px;
margin: 40px;
background-color: #212121;
visibility: hidden;


}

.lizardGraphics {
    position: absolute;
    margin-left: 70px;
    margin-top: 10px;
width: 30px;
height: 45px;
background: white;
     -moz-border-radius: 90 20 0 0;
     -webkit-border-radius: 90 20 0 0;

    -webkit-transform: rotate(70deg);
       -moz-transform: rotate(70deg);
        -ms-transform: rotate(70deg);
         -o-transform: rotate(70deg);
            transform: rotate(70deg);
}

.lizardGraphics1 {
    position: absolute;
    margin-left: 65px;
    margin-top: 30px;
width: 25px;
height: 60px;
background: white;

     -moz-border-radius: 20 90 0 0;
     -webkit-border-radius: 20 90 0 0;

    -webkit-transform: rotate(95deg);
       -moz-transform: rotate(95deg);
        -ms-transform: rotate(95deg);
         -o-transform: rotate(95deg);
            transform: rotate(95deg);
}
.lizardGraphics2 {
      position: absolute;
    margin-left: 35px;
    margin-top: 20px;
width: 30px;
height: 90px;
background: white;

     -moz-border-radius: 100 0 0 0;
     -webkit-border-radius: 100 0 0 0;

    -webkit-transform: rotate(10deg);
       -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
         -o-transform: rotate(10deg);
            transform: rotate(10deg);
}

.lizardCircle3 {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.paper {
padding: 5px;
float:left;
width:150;
color: white;
min-height: 150;
max-height: 150;
max-width: 200;
border-radius: 30px;
margin: 40px;
background-color: #212121;
visibility: hidden;

}

.paperGraphics {
    margin-top: 15px;
    margin-left: 30px;
       width: 90px;
   height: 100px;
   background: white;
   /* Skew */
   -webkit-transform: skew(20deg);
   -moz-transform: skew(20deg);
   -o-transform: skew(10deg);
   transform: skew(10deg);
}

.scissors {
    padding: 5px;
float: left;
width: 150;
color: white;
min-height: 150;
max-height: 150;
max-width: 200;
border-radius: 30px;
margin: 40px;

margin-bottom: 20;
background-color: #212121;
visibility: hidden;
}

.scissorGraphics{
    margin-top: 25px;
    margin-left: 13px;

     height:13px;
     width:80px;
     border-radius: 110px 90px 0 0;
     -moz-border-radius: 110px 90px 0 0;
     -webkit-border-radius: 110px 90px 0 0;
     background:white;
     -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}
.scissorGraphics2{
    margin-top: 5px;

     height:13px;
     width:80px;
     border-radius: 0 0 90px 90px;
     -moz-border-radius: 0 0 90px 90px;
     -webkit-border-radius: 0 0 90px 90px;
     background:white;
     -webkit-transform: rotate(25deg);
       -moz-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
         -o-transform: rotate(25deg);
            transform: rotate(25deg);
}

.infinity {
    position: relative;
    width: 150px;
    height: 90px;
}

.infinity:before,
.infinity:after {
    content: "";
    position: absolute;
    top: 20;
    left: 55;
    width: 50px;
    height: 20px;
    border: 11px solid white;
    -moz-border-radius: 50px 50px 0 50px;
         border-radius: 50px 50px 0 50px;
    -webkit-transform: rotate(-140deg);
       -moz-transform: rotate(-140deg);
        -ms-transform: rotate(-140deg);
         -o-transform: rotate(-140deg);
            transform: rotate(-140deg);
}

.infinity:after {
    left: auto;
    right: 0;
     top: -15;
    left: 80;
    width: 50px;
    height: 20px;
    -moz-border-radius: 50px 50px 50px 0;
         border-radius: 50px 50px 50px 0;
    -webkit-transform: rotate(25deg);
       -moz-transform: rotate(25deg);
        -ms-transform: rotate(25deg);
         -o-transform: rotate(25deg);
            transform: rotate(25deg);
    border: 11px solid white;
}



.spock {
    padding: 5px;
float: left;
width: 150;
color: white;
min-height: 150;
max-height: 150;
max-width: 200;
border-radius: 30px;
margin: 40px;

background-color: #212121;
visibility: hidden;

}

.spockGraphics1 {
    position: absolute;
    margin-left: 41px;
    margin-top: 30px;
width: 13px;
height: 50px;
background: white;
-moz-border-radius: 40px / 50px;
-webkit-border-radius: 40px / 50px;
border-radius: 50px / 50px;
 -webkit-transform: rotate(-20deg);
       -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
         -o-transform: rotate(-20deg);
            transform: rotate(-20deg);

}

.spockGraphics2 {
    position: absolute;
    margin-left: 53px;
    margin-top: 10px;
width: 14px;
height: 70px;
background: white;
-moz-border-radius: 100px / 50px;
-webkit-border-radius: 100px / 50px;
border-radius: 50px / 50px;
 -webkit-transform: rotate(-20deg);
       -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
         -o-transform: rotate(-20deg);
            transform: rotate(-20deg);

}

.spockGraphics3 {
    position: absolute;
    margin-left: 82px;
    margin-top: 8;
width: 14px;
height: 70px;
background: white;
-moz-border-radius: 100px / 50px;
-webkit-border-radius: 100px / 50px;
border-radius: 50px / 50px;
        -webkit-transform: rotate(20deg);
       -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
         -o-transform: rotate(20deg);
            transform: rotate(20deg);

}

.spockGraphics4 {
    position: absolute;
    margin-left: 96px;
    margin-top: 20px;
width: 13px;
height: 60px;
background: white;
-moz-border-radius: 100px / 50px;
-webkit-border-radius: 100px / 50px;
border-radius: 50px / 50px;
    -webkit-transform: rotate(20deg);
       -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
         -o-transform: rotate(20deg);
            transform: rotate(20deg);

}
.spockGraphics5 {
    position: absolute;
    margin-left: 105px;
    margin-top: 55px;
width: 15px;
height: 60px;
background: white;

     -moz-border-radius: 90 0 0 0;
     -webkit-border-radius: 90 0 0 0;

    -webkit-transform: rotate(50deg);
       -moz-transform: rotate(50deg);
        -ms-transform: rotate(50deg);
         -o-transform: rotate(50deg);
            transform: rotate(50deg);
}

.spockWrist {
    margin-top: 60px;
    margin-left: 47px;
    width: 57px;
    height: 55px;
    background: white;
    -moz-border-radius: 100px / 50px;
    -webkit-border-radius: 100px / 50px;
    border-radius: 30px / 55px;
}

.cool {
    padding: 5px;
float: left;
width: 150;
color: white;
min-height: 150;
max-height: 150;
max-width: 200;
border-radius: 30px;
background: #55C7B7;

visibility: hidden;
}
/* Fallback for web browsers that doesn't support RGBa
background: rgb(0, 0, 0);
 RGBa with 0.6 opacity
background: rgba(2, 0, 0, 0.6);
}
*/


* {
margin: 0;
}

html, body {
height: 100%;
}

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}

.footer, .push {
height: 4em;
}